<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="./static/jquery-3.6.0.js"></script>

    <link rel="stylesheet" href="./static/bootstrap-4.0.0/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./static/bootstrap-4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/bootstrap-4.0.0/dist/css/bootstrap-grid.min.css">
    <script src="./static/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="./static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="./static/quill/quill.snow.css">
    <script src="./static/quill/quill.min.js"></script>

    <script src="./static/vue.js"></script>
    <title>Create - Vezbi</title>
</head>

<body class="container-flex">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Вежби</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Почетна страна<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="create.html">Објави статија</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="register.html" class="btn btn-outline-warning text-warning my-2 my-sm-0 mx-2" type="submit">Register</a>
                <a href="login.html" class="btn btn-outline-success text-success my-2 my-sm-0" type="submit">Login</a>
            </form>
        </div>
    </nav>
    <!-- ########################################################## -->


    <div class="container">
        <div id="vuePart" class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exerciseName">Наслов</label><input type="text" class="form-control"
                        v-model="exerciseName">
                </div><br>

                <div class="form-group">
                    <label for="exerciseType">Категорија</label>
                    <select name="exerciseType" v-model="exerciseType" class="custom-select">
                        <option value="" disabled selected>-- Изберете --</option>
                        <option value="ishrana">Исхрана</option>
                        <option value="vezbu">Вежби</option>
                        <option value="telo">Тело</option>
                    </select>
                </div><br>

                <div class="form-group">
                    <label for="exerciseImage">Линк од слика</label>
                    <input class="form-control" type="url" name="exerciseImage" v-model="exerciseImage">
                </div><br>

            </div>
            <div class="col align-content-center">
                <div class="row">
                    <img style="width: 100%; margin-top: 10px;" src="./static/no-image.jpg">
                </div>
                <div class="row">
                    <button class="btn btn-success mx-5" style="width: 100%; margin-top: 30px;"
                        @click="submitForm">Објави нова статија</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container" style="height: 300px">
        <div id="quillEditor"></div>
    </div>
</body>

<script>
    var quill = new Quill('#quillEditor', {
        theme: 'snow'
    });

</script>

</html>